{% extends "base.html" %}

{% block content %}

<style>
  .loginFormDiv {
    margin: auto;
    width: min(400px, 90%);
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: #FFF;
  }
  .loginContainer {
    display: grid;
    height: 100vh;
  }
  body {
    background-color: #EEE;
  }
</style>
<div class="loginContainer">
  <div class="loginFormDiv">
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
  <div class="mb-3">
    <label for="inputEmail1" class="form-label">Enter your email:</label>
    {% comment %} <input type="email" id="inputEmail1" name="email" class="form-control"> {% endcomment %}
    <input type="email" id="inputEmail1" name="email" class="form-control">
  </div>
    <input type="submit" class="btn btn-primary" value="Reset password">
  </form>
  </div>
</div>
{% endblock %}