{% extends "base.html" %}

{% block content %}
<style>
  .loginFormDiv {
    margin: auto;
    width: min(400px, 90%);
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: #FFF;
  }
  .loginContainer {
    display: grid;
    height: 100vh;
  }
  body {
    background-color: #EEE;
  }
</style>
<div class="loginContainer">
  <div class="loginFormDiv">
  <p>We've "emailed" you instructions for setting your password. Check the terminal for more information.</p>
  </div>
</div>
{% endblock %}