{% extends "base.html" %}

{% block content %}
    {% if validlink %}
        
        <form action="" method="post">
        {% csrf_token %}
            <style>
                .resetFormDiv {
                  margin: auto;
                  width: min(400px, 90%);
                  padding: 1em;
                  border: 1px solid #CCC;
                  border-radius: 1em;
                  background-color: #FFF;
                }
                .resetContainer {
                  display: grid;
                  height: 100vh;
                }
                body {
                  background-color: #EEE;
                }
            </style>
            <div class="resetContainer">
                <div class="resetFormDiv">
                    <p>Please enter (and confirm) your new password.</p>
                    <div class="mb-3">
                        {% if form.new_password1.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.new_password1.errors }}
                        </div>
                        {% endif %}
                        <label for="inputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="inputPassword1" name="new_password1" autofocus required>
                      </div>
                      <div class="mb-3">
                        {% if form.new_password2.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.new_password2.errors }}
                        </div>
                        {% endif %}
                        <label for="inputPassword2" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="inputPassword2" name="new_password2" required>
                      </div>
                        <button type="submit" class="btn btn-primary">Change my password</button>
                </div>
            </div>

        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}