.Course {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(80vh);
    max-width: 1200px;
    margin: 0.5rem auto 3rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  }