.Assignment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0.5rem auto 3rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.assignment-main {
  padding: 2rem;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(
    auto-fit, 
    minmax(25em, 1fr)
    );
  gap: 1rem;
}
