.header-buttons {
    display: flex;
    gap: 0.2em;
    flex-wrap: wrap;
}

.header-button {
    /* bs-outline more or less */
    display: inline-block;
    font-weight: 400;
    user-select: none;
    border: 1px solid #6c757d;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1;
    border-radius: 0.25rem;
    background-color: #fff;
    cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.header-button:hover {
    color: #fff;
    background-color: #6c757d;
}

.header-button.add-subs {
    /* bs-outline-success */
    border-color: #28a745;
    color: #28a745;
}

.header-button.add-subs:hover {
    color: #fff;
    background-color: #28a745;
}

.header-button.delete-subs {
    /* bs-outline-danger */
    border-color: #dc3545;
    color: #dc3545;
}

.header-button.delete-subs:hover {
    color: #fff;
    background-color: #dc3545;
}