.carousel-inner, .thumbnail {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel {
    margin-bottom: 0;
}

#grades_input_group {
    min-height: 0;
    transition: visibility 0.5s;
    visibility: hidden;
}

.expander {
    margin-bottom: 1rem;
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.5s;
}

.expander.expanded {
    grid-template-rows: 1fr;
}

.expander.expanded #grades_input_group {
    visibility: visible;
}

.oldFiles {
    background-color: #f5f5f5;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 2px solid #e3e3e3;
}

.labels {
    font-weight: bold;
}

.collapsible-input {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s;
}

.collapsible-input > div {
    overflow: hidden;
}

.btn-check:not(:checked)+.btn:hover {
    background-color: rgb(174, 214, 188);
}

.assignment-canvas-btn:hover, .assignment-canvas-btn:focus, .assignment-canvas-btn:active {
    border-color: black;
    background-color: rgb(255, 255, 255);
}

/* Make sure the size of the image fits perfectly into the container */
#cropImg {
    display: block;
    max-width: 100%;
}