:root {
    --toolbar-button-size: 2.5em;
    --search-bar-input-width: 15em;
    --duration: 0.5s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    appearance:textfield; /* Firefox */
}

#newCommentTextArea[closing] {
    pointer-events: none;
    animation: fade-up 10ms forwards;
  }

#newCommentTextArea[opening] {
    pointer-events: none;
    animation-name: fade-in;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
  }

.saved-comments[opening] {
    display: block;
    pointer-events: none;
    animation-name: fade-in;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
  }

.saved-comments[closing] {
pointer-events: none;
animation-name: fade-out;
animation-duration: 100ms;
animation-fill-mode: forwards;
}

.bootstrap-select .dropdown-menu { max-width: 100% !important; }

.large-bootstrap-select .dropdown-menu ul li a span small {
    word-wrap: break-word;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}


@keyframes fade-out {
    0% {
      max-width: 100%;
      transform: translateX(0%);
      opacity: 1;
    }
    100% {
        max-width: 0%;
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes fade-up {
    0% {
      max-width: 100%;
      height: 58px;
      transform: translateY(0%);
      opacity: 1;
    }
    100% {
        max-width: 100%;
        height: 0px;
        transform: translateY(100%);
        opacity: 0;
    }
}


@keyframes fade-in {
    0% {
      max-width: 0%;
      opacity: 0;
    }
    100% {
        max-width: 100%;
        opacity: 1;
    }
}

@keyframes enlarge {
    0% {
      height: 0px;
    }
    100% {
        height: 58px;
    }
}

@keyframes shrink {
    0% {
        height: 58px;
    }
    100% {
        height: 0px;
    }
}

/* apply enlarge followed by fade-in for .preview-comment */
.preview-comment {
    min-height: 0;
    transition: visibility 1s;
    visibility: hidden;
}

#newCommentPreview {
    white-space: pre-line;
}

.old-comment > p {
    white-space: pre-line;
}

.expander {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 1s;
}

.expander.expanded {
    grid-template-rows: 1fr;
}
.expander.expanded .preview-comment {
    visibility: visible;
}

/* .preview-comment[opening] {
    animation-name: enlarge, fade-in;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.preview-comment[closing] {
    animation-name: fade-up;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
} */

/**** comment-tools ****/

/* set this toolbar as a row on the top right of the comment div */
/* set the background color to raise it above the comment div */
/* create a shadow on the left and on the bottom to make it look like a toolbar */
.comment-tools {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
    z-index: 1;
}

.comment-text {
    margin-bottom: 0;
}

.comment-file {
    margin-bottom: 0;
}

.submissions-header {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
    position: relative;
}

.submissions-header__tools {
    display: flex; 
    flex-direction: row;
    align-items: center;
    gap: 0.2em;
    position: relative;
}

.search-bar {
    display: flex; 
    flex-direction: row;
    gap: 0.5em;
    margin-right: 0.4em;
    position: relative;
}




.search-bar__input {
    box-sizing: border-box;
    border: 3px solid #ccc;
    position: absolute;
    left: 0px;
    width: 10px;
    top: -2px;
    border-right: transparent;
    height: calc(var(--toolbar-button-size) + 4px);
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    z-index: 3;
    padding:  0 1.1em 0 1em;
    opacity: 0;
    cursor: pointer;
    color:rgba(255, 255, 255, 0);

    transition: 
        z-index var(--duration) ease-out,
        border-radius var(--duration) ease-in-out,
        width var(--duration) ease-in-out,
        left var(--duration) ease-in-out,
        opacity var(--duration) ease-in-out,
        border-color var(--duration) ease-in-out, 
        box-shadow var(--duration) ease-in-out,
        color var(--duration) ease-in-out;
}

.search-bar__button {
    width: var(--toolbar-button-size);
    height: var(--toolbar-button-size);
    border-radius: 5px;
    background-color: white;
    margin-left: auto;
    z-index: 2;
    transition: border-radius var(--duration) ease-in-out;
}

.search-bar__button:hover {
    color: var(--bs-success);
    background-color: #fff;
}

.search-bar__button:active {
    color: var(--bs-success);
    background-color: #fff;
}

.add-subs-button {
    width: var(--toolbar-button-size);
    height: var(--toolbar-button-size);
    border-radius: 5px;
}

.delete-subs-button {
    width: var(--toolbar-button-size);
    height: var(--toolbar-button-size);
    border-radius: 5px;
    background-color: #fff;
}

.search-bar__input:focus {
    width: calc(min(15em,50vw));
    left: calc(max(-15em,-50vw) + var(--toolbar-button-size));
    border-radius: calc(var(--toolbar-button-size)/2);
    opacity: 1;
    z-index: 1;
    border-color: rgba(53, 83, 47, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(49, 79, 44, 0.6);
    outline: 0 none;
    color:rgba(0,0,0, 1);
}

.search-bar__input:focus + .search-bar__button {
    background-color: #fff;
    border-radius: calc(var(--toolbar-button-size)/2);
}

.search-bar__button--search {
    position: absolute;
    top: calc(var(--toolbar-button-size)/4);
    left: calc(var(--toolbar-button-size)/5 + 4px);
    opacity: 1;
    transition: opacity calc(var(--duration)/2) ease-out calc(var(--duration)/2);
}

.search-bar__button--clear {
    position: absolute;
    top: calc(var(--toolbar-button-size)/4);
    left: calc(var(--toolbar-button-size)/5 + 4px);
    opacity: 0;
    transition: opacity calc(var(--duration)/2) ease-in calc(var(--duration)/2);
}

.search-bar__input:focus + .search-bar__button .search-bar__button--search {
    opacity: 0;
}

.search-bar__input:focus + .search-bar__button .search-bar__button--clear {
    opacity: 1;                             
}

.btn-canvas:hover, .btn-canvas:focus, .btn-canvas:active {
    border-color: black;
    background-color: rgb(255, 255, 255);
}

.draggable-saved-comment {
    border: 3px solid transparent;
    border-radius: 0.25rem; 
}

.draggable-saved-comment[draggable="true"] {
    border: 3px solid var(--bs-secondary);
    cursor: move;
    transition: border-color 800ms ease-in-out;
}

.draggable-saved-comment[draggable="true"] div.drag-indicator {
    width: 10%;
    opacity: 1;
    transition: width 800ms ease-in-out, opacity 800ms ease-in-out;
}

.draggable-saved-comment[draggable="false"] div.drag-indicator {
    width: 0;
    overflow: hidden;
    opacity: 0;
}

.draggable-saved-comment[draggable="false"] div.non-drag-actions {
    transition: width 800ms ease-in-out, opacity 800ms ease-in-out;
}

.draggable-saved-comment[draggable="true"] div.non-drag-actions {
    width: 0;
    overflow: hidden;
    opacity: 0;
}

.draggable-saved-comment[draggable="true"] > div {
    pointer-events: none;
}

.draggable-saved-comment.dragged-over {
    border: 3px dotted green;
}

.starred-comment-edit {
    border: 2px solid var(--bs-secondary);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: var(--bs-light);
}

.starred-comment-delete {
    border: 2px solid var(--bs-danger);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: var(--bs-light);
}

#btnToggleReorder.active {
    background-color: var(--bs-success);
    color: var(--bs-light);
}