{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags%}

{% block styles %}
    <link rel="stylesheet" href="{% static 'assignments/style.css' %}">
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
    <script src="https://d3js.org/d3.v7.min.js" defer></script>
    {{ assignment.get_all_grades|json_script:"all_grades"}}
    
    <script src="{% static 'assignments/detail.js' %}" defer></script>
{% endblock scripts %}

{% block title %}

| {{ assignment.name }}

{% endblock title %}

{% block content %}

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="{{assignment.course.get_absolute_url}}">{{assignment.course.course_code}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{assignment.name}} 
        <span class="badge bg-dark" title="Average Grade">
            {% if assignment.get_grading_progress != 0 %}
            {{assignment.get_average_grade}} 
        {% else %}
            -
        {% endif %}/ {{ assignment.max_score }}
        </span>
    </li>
    </ol>
</nav>


{% comment %} show the assignment grading progress and the average grade {% endcomment %}
<h1>
    {{ assignment.name }}
    <span class="badge bg-light text-dark" title="Percentage Graded">
        {{ assignment.get_grading_progress }} %
    </span>
</h1>

{% if assignment.description %}
{% comment %} show description if it exists in italics {% endcomment %}
<div class="alert alert-info" role="alert" style="max-height: 200px; overflow-y: scroll; max-width: 500px;">
    <i class="text-muted">
    {{assignment.description | safe}}
    </i>
</div>
{% endif %}


<h1 style="padding-top: 30px"> Common Comment Submission form for Versions </h1>

<div style="padding-top: 50px" id="cluster">
    <form action="">
        <button type="submit" class="btn btn-primary" id="cluster-skip">Skip</button>
    </form>
    <form action="{% url 'assignments:cluster_submission' course_pk assignment_pk %}" method="POST" id="cluster-submission-from-form">
    {% csrf_token %}
    {% for item in cluster_images %}
    <h3 style="padding-top: 30px">Sample Submission for Version {{forloop.counter}}</h3>
    <img style="border: 1px solid blue;" src="{{item}}" alt="cluster-{{forloop.counter}}" width="600" height="500">
    <div class="mb-3">
        <label for="clusterText1-{{forloop.counter}}" class="form-label">Solution for Version {{forloop.counter}}</label>
        <textarea class="form-control" id="clusterText1-{{forloop.counter}}" name="clusterText1-{{forloop.counter}}" rows="3"></textarea>
    </div>
    {% endfor %}
<!-- A submit button-->
    <button type="submit" class="btn btn-primary" id="cluster-submit">Submit Solutions</button>
    </form>
</div>
{% endblock content %}