{% extends "base.html" %}
{% load crispy_forms_tags%}

{% block title %}

| {{ course.course_code }}

{% endblock title %}

{% block content %}
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{course.course_code}}</li>
    </ol>
</nav>

<h1> {{course.name}} </h1>

<p> {{course.description}} </p>

<form method="post">
    {% csrf_token %}
    <button class="btn btn-primary" name="sync_from_canvas" value="sync" type="submit">
    {% if course.university.name == "University of Florida" %}
    Sync from Canvas and UF
    {% else %}
    Sync from Canvas
    {% endif %}
    </button>
</form>

{% comment %} Create 2x2 bootstrap divs for sections, assignments, grades, messages {% endcomment %}

<div class="row mt-4 row-cols-md-1 row-cols-lg-2">
    <div class="col mt-3">
        <h2> Sections </h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> Name </th>
                    {% for meeting in course.sections.first.meetings.all %}
                        {% if meeting.meeting_type %}
                            <th> {{meeting.get_meeting_type_display}} </th>
                        {% else %}
                            <th> Meeting {{forloop.counter}}</th>
                        {% endif %}
                    {% endfor %}
                    <th># Students</th>
                </tr>
            </thead>
            <tbody>
                {% for section in course.sections.all %}
                <tr>
                    <td> <a href="sections/{{section.pk}}/students/"> {{section.name}} </a></td>
                    {% for meeting in section.meetings.all %}
                        <td> {{meeting.day}} {{meeting.start_time}}<br> <span style="white-space:nowrap">({{meeting.location}})</span> </td>
                    {% endfor %}
                    <td> {{section.students.count}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col mt-3">
        <h2> Assignments </h2>
        <div class="col" style="max-height: 300px;overflow-y: auto;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="position: sticky;
                        top: 0;
                        z-index: 2;background:#fef;"> Group </th>
                        <th style="position: sticky;
                        top: 0;
                        z-index: 2;background:#fef;"> Name </th>
                        <th style="position: sticky;
                        top: 0;
                        z-index: 2;background:#fef;"> Max Score </th>
                    </tr>
                </thead>
                <tbody>
                    {% for assignment in course.assignments.all %}
                    <tr>
                        <td> {{assignment.assignment_group}} </td>
                        <td> <a href="assignments/{{assignment.pk}}"> {{assignment.name}} </a> </td>
                        <td> {{assignment.max_score}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col mt-3">
        <h2> Announcements </h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> Date </th>
                    <th> Title </th>
                    <th> Author </th>
                </tr>
            </thead>
            <tbody>
                {% for announcement in course.announcements.all|slice:":5" %}
                <tr>
                    <td> {{announcement.date}} </td>
                    <td> {{announcement.title}} </td>
                    <td> {{announcement.author}} </td>
                </tr>
                {% endfor %}
        </table>
    </div>
    <div class="col mt-3">
        <h2> Messages </h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> Author </th>
                    <th> Message </th>
                </tr>
            </thead>
            <tbody>
                {% for message in messages %}
                <tr>
                    <td> {{message.student_id}} </td>
                    <td> {{message.message}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

