{% extends "base.html" %}
{% comment %} display cards for all courses of user {% endcomment %}
{% block content %}

<header>
    <div class="container">
        <h1 class="mt-5">Courses</h1>
    </div>
</header>
<main>
    {% comment %} create the bootstrap grid for the cards of courses {% endcomment %}
    <div class="container">
        <div class="row flex-row-reverse justify-content-center">
        {% for course in courses %}
            {% comment %} create the card {% endcomment %}
            <div class="col-md-3">
            <div class="card h-100" style="">
                {% comment %} name {% endcomment %}
                {% if course.image %}
                <img class="card-img-top mt-2 mx-auto d-block" src="{{ course.image.url }}" alt="{{ course.course_code }}" style=" align:center">
                
                {% endif %}
                <div class="card-body">
                    
                    {% comment %} name {% endcomment %}
                    <h5 class="card-title">{{ course.course_code }} ({{course.term}})</h5>
                    {% if course.description is not None %}
                        <p class="overflow-hidden" style="white-space:nowrap;text-overflow: ellipsis;">{{ course.description }}</p>
                    {% endif %}
                    <a href="{% url 'courses:detail' pk=course.pk %}" class="stretched-link"></a>
                </div>
            </div>
            </div>
        {% endfor %}
        </div>
    </div>
</main>
<footer class="text-center mt-3 mb-3 border-top border-dark pt-3 pb-3 text-muted small font-weight-light text-uppercase fixed-bottom bg-light text-dark shadow-sm sticky-bottom ">
    <a class="text-decoration-none" href="https://github.com/IonMich/instructor_pilot/" style="color:black;">
    <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
          </svg>
    </p>
    </a>
</footer>
{% endblock content %}