{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags%}

{% block scripts %}
    {{ request.user.profile.preferences.scroll_height_factors|json_script:"scroll_height_factors" }}
    {{ request.user.profile.preferences.grade_steps|json_script:"grade_steps" }}
    {{ grades_zipped|json_script:"grades-initial" }}
    {{ submission.assignment.pk|json_script:"assignment_id"}}
    {{submission.assignment.course.pk|json_script:"course_id"}}
    {{ submission.pk|json_script:"sub-pk" }}
    {{ submission.assignment.submissions_papersubmission_related.first.pk|json_script:"first-sub-pk" }}
    {{ submission.assignment.submissions_papersubmission_related.last.pk|json_script:"last-sub-pk" }}
    <script src="{% static 'submissions/detail.js' %}" defer></script>
{% endblock scripts %}

{% block title %}

| {{ submission }}

{% endblock title %}

{% block navbar %}

<div class="progress" style="height: 2px; width:100vw">
    <div class="progress-bar" role="progressbar" style=" width: {{submission.assignment.get_grading_progress}}%" aria-valuenow="{{submission.assignment.get_grading_progress}}" aria-valuemin="0" aria-valuemax="100"></div>
</div>
{% endblock navbar %} 

{% comment %} create a settings button at the bottom left with absolute position which opens an offcanvas div{% endcomment %}




{% block content %}
<div class="d-flex bd-highlight">
    <div class="bd-highlight">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;); " aria-label="breadcrumb">
        <ol class="breadcrumb mr-1">
        <li class="breadcrumb-item"><a href="/">
            Home
        </a></li>
        <li class="breadcrumb-item"><a href="{{submission.assignment.course.get_absolute_url}}">
            {{submission.assignment.course.course_code}}
        </a></li>
        <li class="breadcrumb-item"><a href="{{submission.assignment.get_absolute_url}}">
            {{submission.assignment.name}}
        </a></li>
        {% if submission.student %}
            <li class="breadcrumb-item active" aria-current="page">{{submission.student.first_name}} {{submission.student.last_name}}</li>
            <img src="{{submission.student.profile.avatar.url}}" class="rounded-circle ms-3" width="30" height="30" alt="">       
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">{{submission.short_name}}</li>
        {% endif %}
        </ol>
    </nav>
    </div>
    <div class="ms-auto bd-highlight">
            <div class="d-flex align-items-center">
                <span class="me-5 text-muted">
                    Average:
                    {% if submission.assignment.get_grading_progress != 0 %}
                        {{submission.assignment.get_average_grade}} 
                    {% else %}
                        -
                    {% endif %}
                    / {{submission.assignment.max_score}}</span>
            <a href="{{request.user.profile.get_absolute_url}}" class="text-decoration-none text-dark">
                <img src="{{request.user.profile.avatar.url}}" class="rounded-circle" style="width: 2rem; height: 2rem; object-fit: cover;">
                <span class="ms-2">{{request.user.username}}</span>
            </a>
            </div>
    </div>
</div>

    <div class="row">
        
        {% if submission.attempt > 1%}
            <div class="col-md-12">
                <h5 class="text-muted">Attempt {{submission.attempt}}</h5>
            </div>
        {% endif %}
        
        <div id="list-pages" class="col-sm-1 list-group mb-4">
            {% for image in submission.submissions_papersubmissionimage_related.all%} 
                <a class="list-group-item list-group-item-action" href="#page-{{forloop.counter}}">Page {{forloop.counter}}</a>
            {% endfor %}
        </div>
        
        <div class="col-sm-8">    
            <figure>
                <div data-bs-spy="scroll" id="div-imgs" data-bs-target="#list-pages" style="height:80vh; position:relative; overflow-y:scroll;" data-bs-offset="200" class="scrollspy-example"  tabindex="0">
                {% for image in submission.submissions_papersubmissionimage_related.all%}  
                    <h4 id="page-{{forloop.counter}}"></h4>
                    <img id="img-{{forloop.counter}}" src="{{ image.image.url }}" class="img-fluid" alt="{{ image.image.name }}" style="max-width:95% ">
                {% endfor %}
                </div> 
            </figure>

            <div class="row justify-content-center">
                <div class="col-sm-4 btn-group w-auto">
                    {% comment %} go to previous submission {% endcomment %}
                    <button class="btn btn-outline-primary" id="btnPrev">Previous</button>
                    {% comment %} go to next submission {% endcomment %}
                    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                        <i class="bi bi-gear"></i>
                    </button>
                    <button class="btn btn-outline-primary" id="btnNext">Next</button>
                    
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <form action='{% url "submissions:detail" submission_pk=submission.pk course_pk=submission.assignment.course.pk assignment_pk=submission.assignment.pk %}' method="post">
                {% csrf_token %}
                <div class="row" >                    
                    <div class="col-xs-12 mb-5" style="height:30%;">
                        {% if grading_form.non_field_errors %}
                            <div class="alert alert-danger">
                                {{ grading_form.non_field_errors }}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <select class="form-control selectpicker show-tick" data-width="auto" title="Select student" data-live-search="true" name="student" id="id_student" required>
                                <option data-hidden="true" value=""></option>
                                {% for section in submission.assignment.course.sections.all %}
                                    <optgroup label="{{section}}">
                                    {% for student in section.students.all %}
                                        <option {% if student.pk == submission.student.pk %}selected{% endif %} value="{{ student.pk }}" data-tokens="{{section}}" data-subtext="{{student.uni_id}}">{{student}}</option>
                                    {% endfor %}
                                    </optgroup>
                                {% endfor %}
                            </select>
                            {% if submission.student is not None %}
                                {% if submission.classification_type == "D"%}
                                <span class="badge bg-primary">{{submission.classification_type}}</span> 
                                
                                {% elif submission.classification_type == "M"%}
                                <span class="badge bg-warning">{{submission.classification_type}}</span> 
            
                                {% elif submission.classification_type == "W"%}
                                <span class="badge bg-info text-dark">{{submission.classification_type}}</span> 
                                
                                {% else %}
                                <span class="badge bg-danger">?</span> 
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="form-outline">
                            {% for q_grade, q_max_grade in grades_zipped %} 
                                <label class="mt-3" for="id_grade_question_{{forloop.counter}}" style="font-size:20px;">Question {{forloop.counter}}</label>
                                <div class="input-group mt-2">
                                        <input 
                                        placeholder="?" 
                                        name="grade_{{forloop.counter}}" 
                                        type="number" 
                                        id="id_grade_question_{{forloop.counter}}" 
                                        class="grade-input form-control" 
                                        {% if q_grade is None %}
                                            value="" 
                                        {% else %}
                                            value="{{q_grade}}" 
                                        {% endif %}
                                        style="max-width:80px;"
                                        required>
                                    <span class="input-group-text mt"> / {{ q_max_grade }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-xs-12 mb-2" style="height:70%;">
                        <div class="form-outline">
                            {{ grading_form.new_comment.errors }}
                            <label for="newComment" style="font-size:20px;">New Comment</label>
                            <textarea name="new_comment" class="form-control" id="newComment" rows="7"></textarea>
                        </div>
                    </div>
                    {% if submission.submissions_submissioncomment_related.all %}
                        <label class="mt-3" for="old-comments" style="font-size:20px;">Old Comments</label>
                        <div class="col-xs-12 mt-2" style="height:70%;" id="old-comments">
                            {% for comment in submission.submissions_submissioncomment_related.all %}
                            <div class="form-outline" id="old-comment-{{forloop.counter}}">
                                
                                <p name="old_comment_{{forloop.counter}}" class="form-control" id="{{ comment.id_for_label }}">{{comment.text}}</p>
                            </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    
                    <div class="col-xs-12 mt-4" style="height:70%;">
                        <div class="form-outline">
                            {{ grading_form.comment_files.errors }}
                            <label for="{{ grading_form.comment_files.id_for_label }}" style="font-size:20px;">File</label>
                            <input type="file" name="comment_files" class="form-control" id="{{ grading_form.comment_files.id_for_label }}">
                        </div>
                    </div>
                    <div class="col-xs-12 mt-2" style="height:70%;">
                        <input class="btn btn-primary" type="submit" value="Update">
                    </div>
                    
                </div>
            </form>
        </div>
    </div>

    <div class="offcanvas offcanvas-start" tabindex="-1" data-bs-scroll="false" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Settings</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="accordion" id="accordionMoreInfo">
                <div class="accordion-item">
                    <h5 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Set the scroll height for each question.
                        </button>
                    </h5>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionMoreInfo">
                        <div class="accordion-body">
                            <p>
                                This determines how much the section containing 
                                the scanned submission images will be scrolled when you focus the corresponding question 
                                grade input, as a factor of the page height. 
                            </p>
                            <p>
                                For example, if you set the scroll height for
                                question 1 to 0.5, then when you focus the grade input for question 1, the section containing
                                the scanned submission images will be scrolled down by half a page height.
                            </p>
                            <p>
                                These will be the default scroll heights for all other 
                                assignments in the course that you have not yet set a scroll height for.
                            </p>
                        </div>
                    </div>
                </div>
            <form id="offcanvas-scroll-form" onsubmit="event.preventDefault();">
                {% csrf_token %}
                {% with ''|center:submission.assignment.number_of_questions as range %}
                    {% for i in range %}
                        <div class="form-outline">
                            <label class="mt-3" for="id_scroll_height_question_{{forloop.counter}}" style="font-size:20px;">Question {{forloop.counter}} Scroll Height</label>
                            <div class="input-group mt-2">
                                <input onClick="this.select();" placeholder="?" name="scroll_height_{{forloop.counter}}" type="number" id="id_scroll_height_question_{{forloop.counter}}" class="form-control scroll-height-input" value="" style="max-width:90px;">
                            </div>
                        </div>
                    {% endfor %}
                {% endwith %}
            </form>
            {% comment %} another form for grade input step pproperty with an explanation accordion {% endcomment %}
            <form 
            id="offcanvas-grade-step-form"
            class="needs-validation"
            novalidate>
                {% csrf_token %}
                <div class="accordion-item mt-5">
                    <h5 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            Set the grade input step property.
                        </button>
                    </h5>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionMoreInfo">
                        <div class="accordion-body">
                            <p>
                                This determines the step size of the grade input fields, i.e. the amount by which the 
                                grade input will increase or decrease when you use the up and down arrow keys. Additionally,
                                the grade input will only accept values that are multiples of this step size.
                            </p>
                            <p>
                                For example, if you set the step to 0.5, then the grade input fields will only allow you to enter grades in increments of 0.5.
                            </p>
                            <p>
                                This will be the default step for all other 
                                assignments in the course that you have not yet set the step property for.
                                If step size has not been set for any assignments in the course, then the default step size is 0.5.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-outline">
                    <label class="mt-3" for="id_grade_step" style="font-size:20px;">Grade Input Step</label>
                    <div class="input-group mt-2">
                        <input onClick="this.select();" placeholder="?" name="grade_step" step="any" min="0" type="number" id="id_grade_step" class="form-control grade-step-input" value="" style="max-width:90px;" required>
                    </div>
                    <div class="invalid-feedback">
                        Please enter a positive number.
                    </div>
                    {% comment %} offcanvas-grade-step-alert: inform the user if the default step is used {% endcomment %}
                    <div class="alert alert-info alert-dismissible show fade d-none mt-2" role="alert" id="offcanvas-grade-step-alert">
                        <p>
                            The default step size of 0.5 will be used for all other assignments in the course that you have not yet set the step property for.
                        </p>
                    </div>


                </div>
            </form>

        </div>
    </div>
    
{% endblock content %}