{% load submission_extras %}



  {% block content %}
  {% comment %} <div class="gradient-pattern"> {% endcomment %}

  <h3 class='mt-4'> {{ title }}</h3>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4  g-2 mt-5 " id="submissions-row">
      {% for obj in object_list %}
      <div class="col">
        <div class="card h-100" style="min-width:10rem" data-pk="{{ obj.pk }}">
            {% if not obj.files.name %}
              <div style="background: linear-gradient({{random_num|dj_iter}}deg, #8e2de2, #4a00e0); min-height:20vh; background-size: cover; background-position: center; background-repeat: no-repeat;"</div>
                {% if obj.grade %}
                  <span class="position-relative top-100 start-50 translate-middle badge text-dark bg-warning">
                    {{obj.grade}}/{{obj.assignment.max_score}}
                  <span class="visually-hidden">Grade</span>
                {% endif %}
              </div>
            {% else %}
              <img src="{{MEDIA_URL}}{{obj.files.url}}" class="card-img-top"  alt="Image at {{obj.files.name}}" style="min-height:20vh;">
            {% endif %}
              <div class="card-body">
                <h5 class="card-title">
                  {% if obj.student %}
                    <h5 class="card-title"> 
                      {% if obj.classification_type == "D"%}
                      <span class="badge bg-primary">{{obj.classification_type}}</span> 
                      
                      {% elif obj.classification_type == "M"%}
                      <span class="badge bg-warning">{{obj.classification_type}}</span> 

                      {% elif obj.classification_type == "W"%}
                      <span class="badge bg-info text-dark">{{obj.classification_type}}</span> 
                      
                      {% else %}
                      <span class="badge bg-danger">?</span> 
                      {% endif %}
                      
                      {{obj.student.first_name}} {{obj.student.last_name}} ({{obj.student.uni_id}})
                      
                    </h5>
                  {% else %}
                    <h5 class="card-title text-muted"> <i>No Student</i></h5>
                  {% endif %}
                  {% if obj.grade %}
                    {% for q_grade in obj.get_question_grades %}
                      <p class="card-text">
                        Question {{forloop.counter}} grade: {{q_grade}}
                      </p>
                    {% endfor %}
                  {% else %}
                    <p class="card-text">
                      <i>No Grade</i>
                    </p>
                  {% endif %}
                  
                  
                  <a href="{{obj.get_absolute_url}}" class="stretched-link"></a>
                  
              </div>
              <div class="card-footer" style="background: linear-gradient({{random_num|dj_iter}}deg, #e3dfd1, #d4cced);">
                <small>Last updated at {{obj.updated}}</small>
                {% if obj.canvas_id %}
                  <a href="{{obj.canvas_url}}" class="btn btn-sm btn-outline-primary" style="z-index: 2;position: relative;">
                    <img src="https://t2.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=http://canvas.instructure.com&size=48" style="width: 16px; height: 16px">
                  </a>
                {% endif %}
              </div>
        </div>
      </div>
      {% endfor %}
  </div>

{% endblock content %}
