{% extends "base.html" %}
{% load submission_extras %}

{% block title %}

{{ title }}

{% endblock title %}
    
  {% block content %}
  {% comment %} <div class="gradient-pattern"> {% endcomment %}

  <h1> {{ title }}</h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4  g-2 mt-5 ">
      {% for obj in object_list %}
      <div class="col">
        <div class="card h-100" style="min-width:10rem">
            {% if not obj.files.name %}
              <div style="background: linear-gradient({{random_num|dj_iter}}deg, #8e2de2, #4a00e0); min-height:20vh; background-size: cover; background-position: center; background-repeat: no-repeat;">
                </div>
            {% else %}
              <img src="{{MEDIA_URL}}{{obj.files.url}}" class="card-img-top"  alt="Image at {{obj.files.name}}" style="min-height:20vh;">
            {% endif %}
              <div class="card-body">
                <h5 class="card-title">
                  {{obj.student.first_name}} {{obj.student.last_name}} ({{obj.student.uni_id}})</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <a href="{{obj.get_absolute_url}}" class="stretched-link"></a>
              </div>
              <div class="card-footer" style="background: linear-gradient({{random_num|dj_iter}}deg, #e3dfd1, #d4cced);">
                <small>Last updated at {{obj.updated}}</small>
              </div>
        </div>
      </div>
      {% endfor %}
  </div>

{% endblock content %}
