{% extends "base.html" %}
{% load crispy_forms_tags%}

{% block content %}

{% comment %} crispy form {% endcomment %}


This is a message: {{ message }}
<p>URL of this page: {{ request.get_full_path }}</p>
<hr>

<form action="" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary mt-3">Upload</button>
</form>
<br>
{% if request.method == "POST" %}
    {% if form.is_valid %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% include "main.html" with object_list=qs title="Uploaded" %}
    {% else %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endif %}
    
    
{% endif %}

{% endblock content %}