/* .gradient-pattern {
    animation: gradient 10s ease infinite;
    background-image: linear-gradient(135deg, #ff8a00, #e52e71);
    background-size: 400% 400%;
    height: 100%;
    width: 100%;
  }
  
  @keyframes gradient {
    0% {
      background-position: 51% 0%;
    }
    50% {
      background-position: 50% 100%;
    }
    100% {
      background-position: 51% 0%;
    }
  } */

.tableFixHead    { overflow: auto; height: 100px; }
.tableFixHead th { position: sticky; top: 0; }

/* Just common table stuff. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }