{% extends "base.html" %}

{% block title %}

Document list

{% endblock title %}
    
    {% block content %}

    <h1>Document list</h1>
    {% for obj in object_list %}
    <div class="card mb-3 mt-3">
        <a href="{{obj.get_absolute_url}}" class="card-body">{{obj.title}}</a>
    </div>
    {% endfor %}

    <div class="row row-cols-1 row-cols-md-4 g-2 mt-5">
        {% for obj in object_list %}
        
        <div class="col">
          <div class="card h-100">
            {% if obj.pdf %}
                <img src="{{obj.pdf.url}}" class="card-img-top" style="width: 100%;
                height: 30vh;
                object-fit: contain;" alt="Image of {{obj.title}}">
            {% else %}
                <img src="{{obj.image.path}}" class="card-img-top" alt="Image of {{obj.title}}">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{obj.title}}</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <a href="{{obj.get_absolute_url}}" class="stretched-link"></a>
            </div>
              <div class="card-footer">
                <small class="text-muted">Last updated at {{obj.updated}}</small>
                {% if obj.has_author %}
                has author
                {% endif %}
              </div>
            
          </div>
        </div>
        {% endfor %}
    </div>
    {% endblock content %}
